// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1e4a78;
$dark-blue: #254365;
$light-blue: #96C3F6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #7bebb9;
$gray: #969696;
$light-gray: #F7F7F7;
