<footer id="footer" class="footer">
<p>this is the footer</p>

<footer class="text-center footer-container">
  <div class="p-4 pb-0">
    <h3>Get in Contact <span class="footer-title"><%= mail_to "hello@Arnold.designs" %></span></h3>
  <div class="text-center p-3 copyright-box">
    © 2022 Copyright Arnold Cubici-Jones
  </div>
</footer>

</footer>
