<footer id="footer" class="text-center footer-container">
  <div class="p-4 pb-0">
    <h3>Get in Contact <span class="footer-title"><%= mail_to "hello@arnoldcjones.co.uk", subject:"ðŸ¤%20Project%20info.%20Let's%20talk" %></span></h3>
    <div class="text-center p-3 copyright-box">
      Â© 2022 Copyright Arnold Cubici-Jones
    </div>
  </div>
</footer>
