.about-container {
  text-align: center;
  width: 100vw;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  color: $prussian-blue;
  // mob
  flex-direction: column;
  padding-top: 10%;
}
.about-point-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  // mob
  width: 70%;
}
.about-title {
  padding:3%;
  text-align: center;
  color: $prussian-blue;
}
.about-content {
  display: flex;
  align-self: center;
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
  color: $prussian-blue;
}
.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-align: center;
  li {
    text-decoration: none;
    list-style: none;
  }
}

.lewagon-link {
  img {
    height: 4vh;
    border-radius: 5px;
    padding: 4px;
    &:hover {
      transition: 0.3s ease;
      background-color: #E61207;
    }
  }
}
.ind-p-desc {
  margin-top: 10%;
  height: 30vw;
}
// laptops
@media screen and (min-width: 1200px) and (min-height:525px) {
  .ind-p-desc {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
