.footer-container {
  color: $light-blue;
  background-color: $prussian-blue;

  a {
    color: $light-blue;
    transition: 0.3s ease;
  }
  a:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateBg 10s linear infinite;
  background-image: linear-gradient(45deg, #ff0000 0%,#effb00 25%,#8cff00 50%,#0101f7 75%,#ff00bf 100%);
  background-size: 100% 1100%;
    @keyframes animateBg {
      0% { background-position: 0% 0%; }
      100% { background-position: 0% 100%; }
    }
  }
}
