.home-banner {
  width: 100vw;
  height: 90vh;
  margin: 0;
  border-radius: 0;
  position: relative;
  top: 0;
  display: flex;
  background:
  /* top, transparent black, faked with gradient */
  linear-gradient(
    rgba(30, 74, 120, 0.5),
    rgba(30, 74, 120, 0.5)
  ),
  /* bottom, image */
  url("home-banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $body-font;
  color: white;
}

.home-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 0%;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
