.navbar-container {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  position: fixed;
  color: white;
  background-color: transparent;
  padding-top: 4%;
  top: 0;
  gap: 1%;
  a {
    text-decoration: none;
    color: white;
  }
}

.side-cta-container {
  display: flex;
  align-items: center;
  width: 33%;
  gap: 3.5%;
}

.left-cta-container {
  justify-content: end;
}
.right-cta-container {
  justify-content: start;
}

.navbar-logo {
  height: 100px;
  display: none;
}

.navbar-name {
  width: fit-content;
  white-space: nowrap;
}

@media screen and (min-width: 1000px) {
  .navbar-logo {
    display: inline;
  }
  .navbar-container {
    gap: 0%;
  }
}
