.navbar-container {
  transform: translate3d(0px, 0px, 0px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  position: fixed;
  color: white;
  background-color: transparent;
  transition: 0.7s ease;
  top: 0;
  gap: 2%;
  a {
    text-decoration: none;
    color: white;
    font-size: large;
    &:hover {
      opacity: 0.8;
    }
  }
}

.side-cta-container {
  display: flex;
  align-items: center;
  width: 33%;
  gap: 3.5%;
}
.ptf {
  margin-right: 4vw;
}
.ctct {
  margin-left: 4vw;
}
.svcs {
  display: none;
}
.abt {
  display: none;
}

.left-cta-container {
  justify-content: end;
}
.right-cta-container {
  justify-content: start;
}

.navbar-logo {
  height: 100px;
  display: none;
}

.navbar-name {
  width: fit-content;
  white-space: nowrap;
}

@media screen and (min-width: 1000px) and (min-height: 360px) {
  .navbar-logo {
    display: inline;
  }
  .navbar-container {
    gap: 0%;
  }
}

.contraster {
  background-color: $dark-blue;
}

.hider {
  transform: translate3d(0px, -100%, 0px);
}
