.point-banner {
  position: relative;
  width: 100vw;
  height: 75vh;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: $dark-blue;
}
.point {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
}

.point-center {
  border-left: 1px solid $dark-blue;
  border-right: 1px solid $dark-blue;
}

.circle {
  background-color: $blue;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
}

.point-head {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.point-sub-text {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
//phones
@media screen and (min-height:500px) {

  .point-banner {
    height: 30vh;
  }

  .point-head {
    gap: 3vh;
  }

  .point {
    gap: 2vh;
  }
}
//tablets
@media screen and (min-width:800px) and (min-height:500px) {

  .point-banner {
    height: 50vh;
  }

  .point-head {
    gap: 6vh;
  }

  .point {
    gap: 2vh;
  }

  .circle {
    width: 4vh;
    height: 4vh;
  }
}
// macbook pro
@media screen and (min-width: 1200px) and (min-height:525px) {

  .point-banner {
    height: 60vh;
  }

  .circle {
    width: 4vh;
    height: 4vh;
  }
}
