// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  text-rendering: optimizeLegibility;
}



html {
  font-size: 16px;
  --max-width:1600px;
  p {
    font-size: 10px;
  }
  .side-cta-container {
    font-size: larger;
  }
}
// phones
@media screen and (min-width: 320px) {
  html {
    h1 {
      font-size: calc(24px + 6 * ((100vw - 320px) / 680));
    }
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
  .home-banner-text {
    padding-right: 2%;
      h1 {
        font-size: 38px;
      }
  }
}
// tablets
@media screen and (min-width: 500px) {
  html {
    h1 {
      font-size: calc(26px + 6 * ((100vw - 320px) / 680));
    }
    p {
      font-size: 16px;
    }
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
  .home-banner-text {
    h1 {
      font-size: 58px;
    }
  }
  .socials {
    gap: 5vh;
  }
  .side-cta-container {
    a {
      font-size: x-large;
    }
  }

  .svcs {
    display: block;
  }
  .abt {
    display: block;
  }
  .ptf {
    margin-right: 0;
  }
  .ctct {
    margin-left: 0;
  }
  .services-banner-container {
    width: 100vw;
    height: 93vh;
    background-color: $dark-blue;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    padding: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    padding-bottom: 0;
  }
  .service-item {
    width: 45%;
    height: 48%;
    img {
      width: 100%;
      height: 50%;
    }
  }
  .dark-header {
    background-color: $dark-blue;
    width: 100vw;
    height: 10vh;
    color: white;
    height: fit-content;
    h1 {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 5%;
      text-align: center;
    }
  }
  .service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 48%;
    img {
      width: 100%;
      height: 50%;
    }
  }
  .service-sub-text {
    text-align: center;
    padding-top: 3%;
    color: $white;
    a {
      color: $light-blue;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .about-container {
    height: 18vh;
    flex-direction: row;
    padding-top: 0;
  }
  .about-point-container {
    height: 100%;
    width: 45%;
  }
}

// laptops
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
    p {
      font-size: 20px;
    }
  }
  .fold {
    display: none;
  }
  .home-banner-text {
    padding-right: 0%;
    padding-left: 1.5%;
    h1 {
      font-size: 54px;
    }
  }
  .dark-header {
    h1 {
      padding-top: 2%;
    }
  }
  .socials {
    top: 28vh;
  }
  .socials-bottom {
    flex-direction: row;
    font-size: xx-large;
    gap: 25%;
    right: 9rem;
    bottom: 1.8rem;
  }
  .about-container {
    height: 30vh;
  }
  .about-point-container{
    height: 25vh;
    width: 34vw;
  }

  .portfolio-container {
    flex-direction: column;
  }

  .work-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .work-carousel {
    margin-left: 2%;
    width: 100%;
    height: 60%;
    border-radius: 15px;
  }

  .port-carousel-inner {
    height: 100%;
    img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
    }
  }
  .side-cta-container {
    a {
      font-size: xx-large;
    }
  }
}
// normal desktop
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
    p {
      font-size: 26px;
    }
  }

}
@media screen and (min-width: 1200px) and (min-height:525px) {

  .banner-svg-item {
    height: 100%;
  }
  .banner-svg-container {
    display: block;
  }
  .home-banner-text {
    width: 50%;
  }
}
// bigger monitors
@media screen and (min-width: 1600px) {
  html {
    font-size: 32px;
  }
  .home-banner-text {
    padding-left: 0%;
    h1 {
      font-size: 64px;
    }
  }
  .socials-bottom {
    font-size: xx-large;
    gap: 25%;
    right: 7rem;
    bottom: 1.8rem;
  }
}

// test
