// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  text-rendering: optimizeLegibility;
}



html {
  font-size: 16px;
  --max-width:1600px;
  p {
    font-size: 10px;
  }
}
// phones
@media screen and (min-width: 320px) {
  html {
    h1 {
      font-size: calc(24px + 6 * ((100vw - 320px) / 680));
    }
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
  .home-banner-text {
    padding-right: 2%;
      h1 {
        font-size: 38px;
      }
  }
}
// tablets
@media screen and (min-width: 500px) {
  html {
    h1 {
      font-size: calc(26px + 6 * ((100vw - 320px) / 680));
    }
    p {
      font-size: 16px;
    }
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
  .home-banner-text {
    h1 {
      font-size: 58px;
    }
  }
  .socials {
    gap: 5vh;
  }
}

// laptops
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
    p {
      font-size: 20px;
    }
  }
  .home-banner-text {
    padding-right: 0%;
    padding-left: 1.5%;
    h1 {
      font-size: 54px;
    }
  }
  .services-header {
    h1 {
      padding-top: 2%;
    }
  }
  .socials {
    top: 28vh;
  }
  .socials-bottom {
    flex-direction: row;
    font-size: xx-large;
    gap: 25%;
    right: 9rem;
    bottom: 1.8rem;
  }
}
// normal desktop
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
    p {
      font-size: 26px;
    }
  }

}
@media screen and (min-width: 1200px) and (min-height:525px) {

  .banner-svg-item {
    height: 100%;
  }
  .banner-svg-container {
    display: block;
  }
  .home-banner-text {
    width: 50%;
  }
}
// bigger monitors
@media screen and (min-width: 1600px) {
  html {
    font-size: 32px;
  }
  .home-banner-text {
    padding-left: 0%;
    h1 {
      font-size: 64px;
    }
  }
  .socials-bottom {
    font-size: xx-large;
    gap: 25%;
    right: 7rem;
    bottom: 1.8rem;
  }
}
